body {
    max-width: 100%;
    height: auto;
    background-color: rgb(15, 15, 15);
    z-index: -1;
    background-repeat: none;
    position: sticky;
}

#landing-page {
    background-image: url(./portfolio-assets/portfolio-background.jpeg);
    background-repeat: round;
    max-width: 100%;
    height: auto;
    position: sticky;
    margin-bottom: 5%;
}

#navbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#nav-icons {
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2%;
}

.left-nav-links {
    margin-left: 5%;
}

.nav-item {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid antiquewhite;
}

.nav-click {
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: antiquewhite;
    text-decoration: none;
    transition: 
    color .15s ease-in-out, 
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}

.nav-link:hover {
    color: rgb(161, 161, 161);
}


#header {
    margin: auto;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Lucida Console", monospace;
    color: antiquewhite;
    justify-content: center;
    padding: 5%;
}

.name {
    display: inline-block;
    margin-top: auto;
    font-size: 24px;
    font-family: "Lucida Console", monospace;
}

.name-header {
    width: 0;
    overflow: hidden;
    border-right: .15em solid antiquewhite; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end) forwards,
    blink-caret 1s infinite;
    text-align: center;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: antiquewhite; }
}

#icons {
    color: whitesmoke;
}

i {
    color: black;
    height: 20px;
    width: 20px;
}

#about-header {
    text-align: center;
    font-size: 60px;
    font-family: "Lucida Console", monospace;
    color: antiquewhite;
    padding-top: 5%;
}

.h4, h4 {
    height: 5%;
    text-align: center;
}

#about-me {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    font-family: "Gill Sans", sans-serif;
    padding: 5%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#about-me-container {
    display: flex;
    font-family: "Gill Sans", sans-serif;
    padding: 2%;
    background-color: antiquewhite;
    align-items: center;
    border-radius: 10px;
    border: 5px solid antiquewhite;
    width: 100%;
}

#about-info {
    padding: 20px;
}

#lead {
    text-align: center;
}

#codelang {
    text-decoration: underline;
}

#languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#visual-container {
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#visual-info {
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.myinfo-bubble {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    background-color: antiquewhite;
    width: 285px;
    border-radius: 10px;
}

.myinfo-bubble img {
    margin: auto;
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    border-radius: 70px;
    box-shadow: 10px black;
    border: 2px solid black;
}

.myinfo-bubble p {
    margin-top: 2%;
    padding-top: 2%;
    font-size: 20px;
    text-align: center;
}

.visualImg {
    border-radius: 70px;
}

#projects {
    display: flex;
    width: 100%;
    height: auto;
    align-content: center;
    font-family: "Gill Sans", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    color: antiquewhite;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 18px;
    padding-top: 0rem;
    flex-wrap: wrap;
    flex-direction: row;
}

br {
    color: antiquewhite;
}

.g-col-6 {
    width: 25vw;
    height: 25vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    border: solid 1px antiquewhite;
    padding: 5%;
}

.g-col-6 a img {
    max-width:100%;
    max-height:100%;
}

.proj-label {
    position: absolute;
    width: auto;
    height: auto;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background: rgb(15, 15, 15);
    color: antiquewhite;
    visibility: hidden;
    opacity: 50%;
    transition: opacity .2s, visibility .2s;
    border-radius: 10px;
    text-align: center;
}

.g-col-6:hover .proj-label {
    visibility: visible;
    opacity: 80%;
  }

#css-creature img {
    border-radius: 15px;
}

#resume-link {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: rgb(15, 15, 15);
}

#resume-link a{
    color: antiquewhite;
    font-size: smaller;
    font-weight: lighter;
}

#contact {
    color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Gill Sans", sans-serif;
    background-color: rgb(15, 15, 15);
    margin-bottom: 5%;
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    padding: inherit;
}

form label {
    display: flex;
    flex-direction: column;
    padding: 3px;
    color: antiquewhite;
}

form label input {
    background-color: antiquewhite;
}

form label textarea {
    background-color: antiquewhite;
}

form button {
    margin-top: 10px;
    padding: 2px;
    width: 90px;
    border:antiquewhite;
    border-radius: 10px;
    background-color: antiquewhite;
}

form button:hover {
    color: #607D84;
}

#footer {
    color: rgb(15, 15, 15);
    background-color: antiquewhite;
    width: 100%;
    height: 32px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    padding: 5px;
}